<!--头部-->
<div id="header">
    <a class="logo" href="{{ url_for('home.me') }}"><img class="back_logo" src="{{ url_for('static', filename='home/images/index_img/logo_img.png') }}"/></a>
    <ul class="menu">
    	<li class="menu-item account radius-4 transition-effect">
            <a class="menu-link" href="{{ url_for('home.me') }}">
                <div class="avatar radius-2">
                    <img src="{{ url_for('static', filename='home/images/index_img_20120718/479510-1342579213.jpg') }}">
                </div>
                我的面板
                <i class="arrow"></i>
            </a>
            <!--我的面板控件-->
            <div class="account-dropdown" style=" display:none;">
                <!--
                <h4 class="first account_first">Preferences</h4>
                <a class="link account_link" href="javascript:;">我的任务</a>
                <a class="link account_link" href="javascript:;">我的管理中心</a>
                <a class="link account_link" href="javascript:;">添加人员</a>
                <a class="link account_link" href="javascript:;">管理人员</a>
                <a class="link account_link" href="javascript:;">My subscription</a>
                <a class="link account_link more-pro" href="javascript:;">More Pro Workspaces</a>
                <h4 class="first account_first">Apps</h4>
                <a class="link account_link" target="_blank" href="javascript:;">Download iPhone app</a>
                <a class="link account_link" target="_blank" href="javascript:;">Download Android app</a>
                <a class="link account_link" target="_blank" href="javascript:;">Download Mac OSX app</a>
                <a class="link account_link" target="_blank" href="javascript:;">Download Windows app</a>
                <h4 class="first account_first">Support</h4>
                <a class="link account_link" href="javascript:UserVoice.showPopupWidget();">Feedback & support</a>
                -->
                <div class="separator account_first"></div>
                <a class="link account_link logout" href="{{ url_for('user.logout') }}">退出</a>
            </div><!--我的面板控件 end-->
            
        </li>
        <a href="">
            <li class="menu-item radius-4 transition-effect">
            	<i class="icon settings"></i>
            </li>
        </a>
        
        
        <!--搜索块
        <li class="search">
            <form id="search-form" class="radius-4 transition-effect" action="/search.php" onsubmit="pdt_loader.set_loading(); if(tools.trim($('search-form-input').value) == '') {return false;}" method="post">
                <input id="search-form-input" class="search-field placeholder" type="text" name="search_str" onblur="dashboard.onblur_search_field();" onfocus="dashboard.onfocus_search_field();" value="">
                <script type="text/javascript">
                	new input_placeholder('search-form-input', 'Search Tasks...');
                </script>
                <div class="glass"></div>
            </form>
        </li>-->
        
        
    </ul>
</div>
<!--头部 end-->


