<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='home/css/Public_style.css') }}"/>
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='home/css/main_style.css') }}"/>
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='home/css/login_style.css') }}"/>
<script src="{{ url_for('static', filename='js/libs/jquery-1.7.1.min.js') }}"></script>
</head>

<body class="account-page extra-large-window">
<div id="surface">
	<!--logo块-->
    <!--
	<div class="account-header">
    	<img src="../images/index_img/logo-blue-lg.png" alt="Trello logo">
    </div>
    -->
    <!--logo块 end-->
    
    <!--登录块-->
    <div class="account-content clearfix">
        {% block content %}
    	<form class="primary-col clearfix">
        	<h2>登录/注册</h2>
            <label for="email-login"> 邮箱或用户名 </label>
            <input id="email-login" type="text" tabindex="1" value="" name="user">
           	<label for="email-create">邮箱</label>
            <input id="email-create" type="email" autocapitalize="off" spellcheck="false" autocorrect="off" autocomplete="off" value="" name="email">
            <label for="password-login"> 密码 </label>
            <input id="password-login" type="password" tabindex="2" name="password">
            <a class="float_right" tabindex="4" style="margin: 10px 0 0;" href="/forgot">Forgot your password?</a>
            <input class="primary" type="submit" tabindex="3" value="Log In">
            <p class="clear">
                New here?
                <a href="javascript:;">
                <b>Create an Account.</b>
                </a>
            </p>
        </form>
        {% endblock %}
    </div>
    <!--登录块 end-->
</div>
</body>
</html>
