<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微OA-日志</title>
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='home/css/Public_style.css') }}"/>
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='home/css/head_style.css') }}"/>
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='home/css/main_style.css') }}"/>
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='css/ui/jquery.ui.all.css') }}"/>
<link rel="stylesheet" media="all" type="text/css" href="{{ url_for('static', filename='js/libs/taghandler/css/jquery.taghandler.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/libs/fancybox/jquery.fancybox.css') }}" media="screen" />
<script src="{{ url_for('static', filename='js/libs/jquery-1.7.1.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/jquery.tmpl.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/libs/ui/jquery.ui.all.min.js') }}" type="text/javascript"></script>
<!-- Add fancyBox main JS and CSS files -->
<!--
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/fancybox/jquery.fancybox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/fancybox/jquery.fancybox.pack.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/libs/fancybox/helpers/jquery.fancybox-buttons.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/fancybox/helpers/jquery.fancybox-buttons.js') }}"></script>
-->
<!-- Add Button helper (this is optional) -->

</head>

<body>
<!--头部-->
{% block header %}
{% include '_header.html' %}
{% endblock %}
<!--头部 end-->

{% block content %}

{% endblock %}

</body>
</html>
