@charset "utf-8";
/* CSS Document */

/**********************头部样式*****************************/
#header{
	/*background: -moz-linear-gradient(center top , #23658B 0%, #1C506E 100%) repeat scroll 0 0 transparent;*/
	/*background-color:#c84415;*/
	background-color:#FB7D01;
	/*background: -moz-linear-gradient(center top , #e45319 0%, #c84415 100%) repeat scroll 0 0 transparent;*/
	background: -moz-linear-gradient(center top , #e45319 0%, #FB7D01 100%) repeat scroll 0 0 transparent;
    height: 30px;
    overflow: hidden;
    padding: 5px 8px;
    position: relative;
	}
#header a, #header a:visited{ color:#fff;}
#header a:hover{ text-decoration:none;}
.header-btn {
    border-radius: 3px 3px 3px 3px;
    color: #E3E3E3;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 30px;
    margin-right: 5px;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
.header-btn span.count {
    background: none repeat scroll 0 0 #BD2828;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 3px #333333;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 18px;
    line-height: 15px;
    padding: 0 6px;
    position: absolute;
    right: -2px;
    top: -1px;
}
.header-btn span.count:empty { display: none;}
.header-btn.header-logo { margin-right: 8px; padding-left: 4px;}
.header-btn.header-logo { margin-right: 8px; padding-left: 4px;}
.app-icon.logo { background:url("../images/index_img/logo_img.png") no-repeat left center;  width: 115px;}

/*搜索区*/
#header-search { float: left; margin: 1px 8px 0 0; position: relative; z-index: 1;}
#header-search label { display: none;}
#header-search input[type="text"] {
    background: none repeat scroll 0 0 #BFCFD9;
    border: medium none;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    float: left;
    font-size: 13px;
    height: 29px;
    line-height: 19px;
	line-height: 17px\9;
    margin: 0;
    /*min-height: 29px;*/
	height:17px\9;
    width: 200px;
}
#header-search input[type="text"]:hover{ background-color:#d9e2e8;}
#header-search input[type="text"]:focus{ background-color:#f2f5f7;}
#header-search input[type="submit"] { display: none;}
.header-btn.header-search { height: 29px;}
#header-search .header-btn { border-radius: 0 3px 3px 0;}
.search-icon { background-position: -570px -30px;}
.search-icon.light-hover:hover, .search-icon.light { background-position: -570px -60px;}


/*搜索区 end*/

.header-user{ position: absolute; right: 8px; top: 5px;}

.header-btn.header-notifications, .header-btn.header-boards, .header-btn.header-search, .header-btn.header-login, .header-btn.header-signup {
    /*background: -moz-linear-gradient(center top , #2B7CAB 0%, #28739F 100%) repeat scroll 0 0 transparent;*/
	background-color:#ed6b20;
	background: -moz-linear-gradient(center top , #ed6b20 0%, #fc9429 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.12) inset, 0 1px 1px rgba(0, 0, 0, 0.35);
}
.header-btn:hover{
	/*background: -moz-linear-gradient(center top , #3291c8 0%, #2f88bc 100%) repeat scroll 0 0 transparent;*/
	background-color:#fa9f40;
	background: -moz-linear-gradient(center top , #f79127 0%, #fa9f40 100%) repeat scroll 0 0 transparent;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.25);
	color:#eee;
}
.header-btn.upgrade, .header-btn.header-boards, .header-btn.header-notifications { padding: 0 8px 0 0;}
.notification-icon { background-position: -420px -30px;}
.notification-icon.light-hover:hover, .notification-icon.light { background-position: -420px -60px;}
.header-btn-text { padding-left: 2px;}
.board-icon.light-hover:hover, .board-icon.light { background-position: -60px -60px;}
.header-auth.member {
    border-color: #999999;
    margin-top: -1px;
}
.member {
    -moz-user-select: none;
    background-color: #CCCCCC;
    border: 1px solid #B9B9B9;
    color: #444444;
    cursor: pointer;
    display: block;
    float: left;
    height: 30px;
    margin: 0 1px 1px 0;
    position: relative;
    text-decoration: none;
    width: 30px;
    z-index: 0;
}
.member .member-initials {
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    left: 0;
    line-height: 30px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.manual-icon { background-position: -540px -30px;}
.manual-icon.light-hover:hover, .manual-icon.light { background-position: -540px -60px;}
/**********************头部样式 end*****************************/