{% extends "layout_account.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/libs/taghandler/css/jquery.taghandler.css') }}" />
<!--主体块-->
<div class="content">
	<div class="member-detail-modal">
    	<!--主体头部-->
    	<div class="window-header">
        	<span class="window-header-icon app-icon member-icon"></span>
            <div class="member-title">
            	<h2>
                    我的工作日志
                    <!--<span class="quiet" style="margin-left: 3px">({{ g.user.realname }})</span>-->
                </h2>
            </div>
        </div>
        <!--主体头部 end-->

        <!--内容区左边块-->
        <div class="window-main-col clearfix">
        	<!--输入块-->
            <form id="task_publish_form" name="task_publish_form" method="POST"/>
            <div class="window-message">
                <div class="message_block">
                    <span></span>
                    <textarea class="text_input"  name="title" id="title">写点你将要做点什么吧</textarea>
                </div>
                <input type="hidden" name="to_user_id" id="to_user_id"/>
                <input type="hidden" name="share_users" id="share_users"/>
                <input type="hidden" name="submit_user_id" id="submit_user_id"/>
                <input type="hidden" name="submit_users" id="submit_users"/>
                <!--安排给-->
                <div id="to_people" style="display:none;">
                安排给
                <ul class="add_People" id="submit_people"> </ul>
                <!--安排给-->
                
                <!--递交给-->
                递交给
                <ul class="add_People" id="add_people">
                    +分享给
                </ul>
                </div>
                <!--递交给-->
                <div class="button_People clearfix">
                    <input type="button" class="add_message primary confirm js-add-card" id="add_task_button" value="发 布" />
                </div>
            </div>
            </form>
            <!--输入块 end-->
            
        	<div class="window-module">
                <div class="window-module-title">
                    <span class="app-icon window-module-title-icon board-icon"></span>
                    <h3> 
                    <a href="{{ url_for('home.account') }}" class="current">我的全部工作列表</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ url_for('home.account', t=1) }}">只看我自己的</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ url_for('home.account', t=2) }}">安排给我的</a>
                        {% if g.task_submit_count %} 
                          <a class="header-btn header-about" title="Information" href="#"><span class="count js-unread-announcements" style="">{{ g.task_submit_count }}</span></a> 
                        {% endif %}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a><small>完成情况</small></a>
                        <select name="status" id="task_status">
                            <option value="all">全部</option> 
                            <option value="complete">完成</option> 
                            <option value="undone">未完成</option> 
                        </select>
                        &nbsp;&nbsp;
                        <a><small>时间</small></a>
                        <select name="created_at" id="task_created_at">
                            <option value="0">全部</option> 
                            <option value="1">今天起</option> 
                            <option value="2">昨天起</option> 
                            <option value="3">本周起</option> 
                            <option value="4">30天前起</option> 
                        </select>
                    </h3>
                </div>
                <ul class="boards-list bold-list gutter js-list-boards" id="msg_list"> </ul>
            </div>
            
            <div class="window-module">
            	<a class="button-link gutter js-add-board button-link-more" href="javascript:;" id="get_more_feed" name="{{ request.args.get('page',1) }}">
                    <!--<span class="app-icon small-icon board-icon"></span>--> 点击，查看更多
                </a>
            </div>
        	
        </div>
        <!--内容区左边块 end-->
        
    </div>
    
</div>
<!--主体块 end-->

<!--弹出定位层-->
<div class="pop-over clearfix fancy-scrollbar" id="pop_action">
	<div class="pop-header clearfix">
        <a class="back-btn js-back-view" href="#" style="display: none;">
        	<span class="app-icon small-icon left-icon dark-hover"></span>
        </a>
        <span class="header-title">操作</span>
        <a class="close-btn js-close-popover" href="#">
        	<span class="app-icon small-icon close-icon dark-hover"></span>
        </a>
    </div>
    <div class="pop-content clearfix">
        <div>
            <ul class="pop-over-list">
                <li>
                    <ul class="boards-pop-over-list"></ul>
                </li>
                <li>
                    <a class="js-replay" href="javascript:;">回复</a>
                </li>
                <li>
                    <a class="js-share" href="javascript:;">递交</a>
                </li>
                <li>
                    <a class="js-submit" href="javascript:;">安排</a>
                </li>
                <hr>
                <li>
                    <a class="js-modify" href="javascript:;">修改</a>
                </li>
                <li>
                    <a class="js-delete" href="javascript:;">删除</a>
                </li>
                <li>
                    <a class="js-status-complete" href="javascript:;">改为完成</a>
                </li>
                <li>
                    <a class="js-status-undone" href="javascript:;">改为未完成</a>
                </li>
            </ul>
        </div>
    </div>
</div><!--弹出定位层-->

<!--弹出设置定位层-->
<!--<div class="pop-over clearfix pop-install" id="pop_install" style=" display:none;">
	<div class="pop-header clearfix">
        <a class="back-btn js-back-view" href="#" style="display: none;">
        	<span class="app-icon small-icon left-icon dark-hover"></span>
        </a>
        <span class="header-title">设置</span>
        <a class="close-btn js-close-popover" href="#">
        	<span class="app-icon small-icon close-icon dark-hover"></span>
        </a>
    </div>
    <div class="pop-content clearfix">
        <div>
            <ul class="pop-over-list">
                <li>
                    <a href="javascript:;">退出</a>
                </li>
                <li>
                    <a href="javascript:;">设置</a>
                </li>
            </ul>
        </div>
    </div>
</div>--><!--弹出设置定位层-->


<!--回复的模板-->
    <script id="comment_template_list" type="text/x-jquery-tmpl">
        <div class="padd_7 rebody">
            <h2>
                <a href="">${realname}</a>
                -<span>${created_at}</span>
            </h2>
            <p>${content}</p>
        </div>
    </script>
<!--回复的模板 end-->
    
<!--回复的html start-->
    <div id="comment" style="display:none;">
        <div id="comment_list"> </div>
        <form id="comment_form" name="comment_form">
            <input type="text" name="comment_content" id="comment_content" /> 
            <input type="button" value="回复" id="comment_save_button"/>
        </form>
    </div>
<!--回复的html end-->

<!--修改Form start-->
<form method="POST" name="update_form" id="update_form" style="display:none;">
    <div id="update_form_field"></div>
    <input type="button" value="保存" id="update_save_button"/>
</form>
<!--修改Form end-->

<!--start update_form_field_template-->
<script id="update_form_field_template" type="text/x-jquery-tmpl" style="display:none;">
    <textarea name="title">${title}</textarea>
</script>
<!--end update_form_field_template-->

<script id="msgTemplate" type="text/x-jquery-tmpl">
<li id="list${id}" >
    <a class="clearfix link-item highlight-icon js-open-board" href="javascript:;" name="${id}" status="${status}">
        {% raw %}
        {{if status}}
        <span class="item-name" id="title${id}"> ${title} </span>
        {{else}}
        <span class="item-name" id="title${id}"> ${title} </span>
        {{/if}} 
        {% endraw %}
        
        <!--<span class="app-icon small-icon permission-icon private-icon " title="">回复${comment_count}</span>
        <span class="app-icon small-icon pin-icon" title=""></span>-->
        
		<!--<span class="board-list-menu app-icon small-icon menu-icon js-boards-list-menu"></span>
		<div class="clear"></div>-->
		
        {% raw %} 
        <span class="counts">
            {{if comment_count }} <span class="Share_Reply">${comment_count}条回复&nbsp;&nbsp;</span> {{/if}}
            <span>${created_at}</span>
        </span>
        {% endraw %}
		<div class="clear"></div>
    </a>
    
    {% raw %}
    {{if share_users.length}} 
    <ul class="SharePeople">
        <li>${realname}递交给</li>
        {{tmpl(share_users) "#share_users_template"}}
    </ul>
    {{/if}}
    {% endraw %}

    {% raw %}
    {{if submit_users.length}} 
    <ul class="SharePeople">
        <li>${realname}安排给</li>
        {{tmpl(submit_users) "#submit_users_template"}}
    </ul>
    {{/if}}
    {% endraw %}
	<div class="clear"></div>
	<!--操作区-->
	<div class="O_tabPanel">
		<ul class="Operat_tab_head">
			<li class="tab_Reply bor_radius_3" rel="tab_01" name="${id}">回复（10）</li>
			<li class="tab_Arrangement bor_radius_3" rel="tab_02" name="${id}">安排给</li>
			<li class="tab_Submit bor_radius_3" rel="tab_03" name="${id}">递交给</li>
			<li class="tab_Modify bor_radius_3" rel="tab_04" name="${id}">修改</li>
			<li class="tab_Delete bor_radius_3" >删除</li>
			<li class="tab_Status bor_radius_3" >改为未完成</li>
		</ul>
		<div class="clear"></div>
		
		<div class="tab_content Reply_body" id="tab_01_${id}">
			<span></span>
			<ul class="Reply_Show">
				<li>杨秀冬：查看周边游的设计<i>2012-06-19 15:26:29</i></li>
				<li>杨秀冬：查看周边游的设计<i>2012-06-19 15:26:29</i></li>
			</ul>
			<div class="Reply_Reply">
				<textarea rows="" cols="" ></textarea>
				<input class="Reply_Submit" value="回复"/>
				<input class="Reply_Cancel" value="取消"/>
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="tab_content Arrangement_body" id="tab_02_${id}">
			<span></span>
			<ul>
				<li>谭少华</li>
				<li>潘波</li>
				<li>李英</li>
				<li>杨秀冬</li>
				<li>杨秀冬</li>
				<li>丁总</li>
			</ul>
			<div class="clear"></div>
		</div>
		
		<div class="tab_content Submit_body" id="tab_03_${id}">
			<span></span>
			<ul>
				<li>谭少华</li>
				<li>潘波</li>
				<li>丁总</li>
			</ul>
			<div class="clear"></div>
		</div>
		
		<div class="tab_content Modify_body" id="tab_04_${id}">
			<span></span>
			<div class="Modify_block">
				<textarea rows="" cols="" ></textarea>
				<input class="Reply_Submit" value="保存"/>
				<input class="Reply_Cancel" value="取消"/>
				<div class="clear"></div>
			</div>
		</div>
		
		
		
		
	</div>
	<!--操作区 end-->
	
</li>
</script>

<script id="share_users_template" type="text/x-jquery-tmpl">
    <li>${realname}</li>
</script>

<script id="submit_users_template" type="text/x-jquery-tmpl">
    <li>${realname}</li>
</script>
<script src="{{ url_for('static', filename='js/libs/taghandler/js/jquery.taghandler.min.js') }}"></script>

<script>
    function split( val ) { 
        return val.split( /,\s*/ );
    }

    function extractLast( term ) { 
        return split( term ).pop();
    }
    
    function getQueryString(name)
    {
        // 如果链接没有参数，或者链接中不存在我们要获取的参数，直接返回空
        if(location.href.indexOf("?")==-1 || location.href.indexOf(name+'=')==-1)
        {
            return '';
        }
     
        // 获取链接中参数部分
        var queryString = location.href.substring(location.href.indexOf("?")+1);

        // 分离参数对 ?key=value&key2=value2
        var parameters = queryString.split("&");

        var pos, paraName, paraValue;
        for(var i=0; i<parameters.length; i++)
        {
            // 获取等号位置
            pos = parameters[i].indexOf('=');
            if(pos == -1) { continue; }
     
            // 获取name 和 value
            paraName = parameters[i].substring(0, pos);
            paraValue = parameters[i].substring(pos + 1);
     
            // 如果查询的name等于当前name，就返回当前值，同时，将链接中的+号还原成空格
            if(paraName == name)
            {
                return unescape(paraValue.replace(/\+/g, " "));
            }
        }
        return '';
    }
    //var params = "{{ request.url.split('?')[-1] }}"
    var url = '/home/getMyFeed?'
    if(t = getQueryString('t'))
       url += 't=' + t;  

    getMyFeed(url)
    
    //查看更多
    $("#get_more_feed").click(function() {
        //var page = parseInt($(this).attr('name'))+1; 
        //var status = $("#task_status").attr('value');
        //url2 = url+'&page='+page+'&status='+status;
        url2 = $(this).attr('name');
        getMyFeed(url2);
        //$(this).attr('name', page);
    });
    
    function getQueryUrl(key,value) {
        var url = $("#get_more_feed").attr('name');
         // 获取链接中参数部分
        var queryString = url.substring(url.indexOf("?")+1);
        // 分离参数对 ?key=value&key2=value2
        var parameters = queryString.split("&");
        var pos, paraName, paraValue, newQuery=Array();
        for(var i=0; i<parameters.length; i++) {
            // 获取等号位置
            pos = parameters[i].indexOf('=');
            if(pos == -1) { continue; }
     
            // 获取name 和 value
            paraName = parameters[i].substring(0, pos);
            paraValue = parameters[i].substring(pos + 1);
            if(paraName=='page') paraValue=1;
            if(paraName != key) {
                var newParam = paraName + '=' + paraValue;
                newQuery.push(newParam);
            }
        }
        newQuery.push(key+'='+value);
        return '/home/getMyFeed?'+newQuery.join('&');
    }
    //状态
    $("#task_status").change(function() {
        var status = $(this).children('option:selected').val();
        //url2 = url + '&status='+status;
        //$(this).attr('value', status);
        var url = getQueryUrl('status', status);
        $("#msg_list").empty();
        getMyFeed(url);
    });

    //时间查找
    $("#task_created_at").change(function() {
        var created_at = $(this).children('option:selected').val();
        var url = getQueryUrl('created_at', created_at);
        $("#msg_list").empty();
        getMyFeed(url);
    });
    function getMyFeed(url) {
        $.getJSON(url, function(res){
            $("#get_more_feed").attr('name', res.next_page);
            $( "#msgTemplate" ).tmpl( res.data ).appendTo( "#msg_list" );
        });  
    }

    $.getJSON('/company/get', function(res) {
        $("#submit_people").tagHandler({
            availableTags: res.data,
            autocomplete: true,
            onAdd: function(name) {
                var in_array = $.grep(res.data, function(a) { if(a.value==name) return true; else return false;});
                if(in_array=='') return false;
            },
            afterAdd: function(name){
                var id = '';
                $.each(res.data, function() {
                    if(this.value == name) 
                    id = this.id
                });
                if(id) {
                    var submit_user_id = $("#submit_user_id").val()  
                    submit_user_id = submit_user_id.split( /,\s*/ );
                    submit_user_id.push(id);
                    $("#submit_user_id").val(submit_user_id.join(","));

                    var submit_users = $("#submit_users").val();
                    submit_users = submit_users.split( /,\s*/ );
                    submit_users.push(name);
                    $("#submit_users").val(submit_users.join(","));
                }
            },
            afterDelete: function(name) {
                var id = '';
                $.each( res.data, function() {
                    if(this.value == name) 
                    id = this.id
                });
                if(id) {
                    var submit_user_id = $("#submit_user_id").val()  
                    submit_user_id = submit_user_id.split( /,\s*/ );
                    submit_user_id = $.grep(submit_user_id, function(a) { return a != id; });
                    $("#submit_user_id").val(submit_user_id.join(",")) 
                    
                    var submit_users = $("#submit_users").val();
                    submit_users = submit_users.split( /,\s*/ );
                    submit_users = $.grep(submit_users, function(a) { return a != name; });
                    $("#submit_users").val(submit_users.join(","));                }
            }
        }); 
        $("#add_people").tagHandler({
            availableTags: res.data,
            autocomplete: true,
            onAdd: function(name) {
                var in_array = $.grep(res.data, function(a) { if(a.value==name) return true; else return false;});
                if(in_array=='') return false;
            },
            afterAdd: function(name){
                var id = '';
                $.each(res.data, function() {
                    if(this.value == name) 
                    id = this.id
                });
                if(id) {
                    var to_user_id = $("#to_user_id").val()  
                    to_user_id = to_user_id.split( /,\s*/ );
                    to_user_id.push(id);
                    $("#to_user_id").val(to_user_id.join(","));

                    var share_users = $("#share_users").val();
                    share_users = share_users.split( /,\s*/ );
                    share_users.push(name);
                    $("#share_users").val(share_users.join(","));
                }
            },
            afterDelete: function(name) {
                var id = '';
                $.each( res.data, function() {
                    if(this.value == name) 
                    id = this.id
                });
                if(id) {
                    var to_user_id = $("#to_user_id").val()  
                    to_user_id = to_user_id.split( /,\s*/ );
                    to_user_id = $.grep(to_user_id, function(a) { return a != id; });
                    $("#to_user_id").val(to_user_id.join(",")) 
                    
                    var share_users = $("#share_users").val();
                    share_users = share_users.split( /,\s*/ );
                    share_users = $.grep(share_users, function(a) { return a != name; });
                    $("#share_users").val(share_users.join(","));                }
            }
        });  
    });

    //add_task_button提交任务按钮
    $("#add_task_button").live('click',function() {
        var title = $("#title").val();
        if(!title) return false;
        if(title=='写点你将要做点什么吧') return false;
        $.ajax({
            type: 'POST',
            data: $("#task_publish_form").serialize(),
            url: "/home/publish",   
            dataType: 'json',
            success: function(data) {
                $( "#msgTemplate" ).tmpl( data ).prependTo( "#msg_list" );
                $("form").each(function(){ this.reset(); });
            }
        });
        return false;
    });

    $(".people_listBlock ul li:even").addClass("alt");
    /*
    $(".add_People").toggle(function(){
        $(".people_listBlock").show();
        }, function(){
        $(".people_listBlock").hide();
    });
    */	
    $(".pop-over .pop-header .close-icon").click(function(){
        $("#pop_action").hide();
    });
	$(".boards-list li").live('mouseover',function(){
		$(this).addClass("hover");
	});
	$(".boards-list li").live('mouseout',function(){
		$(this).removeClass("hover");
	});
	
	$(".boards-list li a").live('click',function(){
		$(".O_tabPanel").hide();
		$(this).parent().find(".O_tabPanel").show();
		$(this).parent().addClass("current");
		$(".boards-list li").not($(this).parent()).removeClass("current");
	});
	
	$(".Task_nav").hover(function(){
		$(this).addClass("hover");
	},function(){
		$(this).removeClass("hover");
	}).click(function(){
		$(this).addClass("current");
		$(".Task_nav").not($(this)).removeClass("current");
	});
	
	$(".header-auth.member,.header_slideToggle").hover(function(){
		$(".header_slideToggle").show();
	},function(){
		$(".header_slideToggle").hide();
	});
	

    $(".js-open-board").live('click',function(){
        var win_width = $(window).width();
        var mar_width = (win_width-690)/2;
        var pos_left = mar_width+670;
        var s_top = $(this).offset();
        if(win_width <= (670+120+mar_width)){
            $("#pop_action").css({top:s_top.top+"px", right:mar_width+"px"}).show();
            } else {
            $("#pop_action").css({top:s_top.top+"px", left:pos_left+"px"}).show();
        }

        var id = $(this).attr('name');
        $("#pop_action").attr('name',id);

        //根据状态来决定操作列表
        var status = $(this).attr('status');
        if(status=='0') {
            $('.js-status-complete').show();
            $('.js-status-undone').hide();
            } else {
            $('.js-status-complete').hide();
            $('.js-status-undone').show();
        }

    });
	
	//列表功能操作控制
	$("ul.Operat_tab_head li").live('click', function(){
		var li_rel = $(this).attr("rel");
		var list_id = $(this).attr("name");
		$(".tab_content").hide();
		$("#"+li_rel+"_"+list_id).show();
		$(this).addClass("current");
		$("ul.Operat_tab_head li").not($(this)).removeClass("current");
	});

    $('.js-replay').click(function() {
        var id = $("#pop_action").attr('name');
        $("#comment_list").empty();
        $.getJSON('/comment/get/'+id, function(res) {
            $( "#comment_template_list" ).tmpl( res.data ).appendTo( "#comment_list" );
            $.fancybox({
                //type: 'html',
                content: $("#comment"),
				autoSize: false,
                width: '25%',
                height: 'auto',
				
                //minWidth: '180px',
                //autoSize: true,
                afterClose: function() {
                    $.getJSON('/task/get/'+id,function(res) {
                        var html = $( "#msgTemplate" ).tmpl(res.row);
                        $("#list"+id).replaceWith(html);
                        $("#list"+id).effect("highlight", {}, 3000);
                        $(".pop-over").hide();
                    });
                    //$("#list"+id).effect("highlight", {}, 3000);
                    $("#comment_save_button").unbind('click');
                }
            });
        }); 
        $("#comment_save_button").click(function() {
            var task_id = $("#pop_action").attr('name');
            var comment_content = $("#comment_content").val();
            if(comment_content) {
                var form = $('#comment_form')
                $.ajax({
                    type: "POST",
                    data: form.serialize(),
                    url: "/comment/create/"+task_id,
                    dataType: "json",
                    success: function(data) {
                        $( "#comment_template_list" ).tmpl( data ).appendTo( "#comment_list" );
                        form.each(function(){ this.reset(); });
                        $(".pop-over").hide();
                    }
                }); 
            }
        });
    });

    $(".js-share").click(function() {
        var id = $("#pop_action").attr('name');
        $.fancybox({
			autoSize: false,
			width: '40%',
			height: '60%',
            type: 'iframe',
            href: '/task/update_share/'+id,
            afterClose: function() {
                $.getJSON('/task/get/'+id,function(res) {
                    var html = $( "#msgTemplate" ).tmpl(res.row);
                    $("#list"+id).replaceWith(html);
                    $("#list"+id).effect("highlight", {}, 3000);
                    $(".pop-over").hide();
                });
            }
        });
    });
    
    $(".js-submit").click(function() {
        var id = $("#pop_action").attr('name');
        $.fancybox({
			autoSize: false,
			width: '40%',
			height: '60%',
            type: 'iframe',
            href: '/task/update_submit/'+id,
            afterClose: function() {
                $.getJSON('/task/get/'+id,function(res) {
                    var html = $( "#msgTemplate" ).tmpl(res.row);
                    $("#list"+id).replaceWith(html);
                    $("#list"+id).effect("highlight", {}, 3000);
                    $(".pop-over").hide();
                });
            }
        });
    });

    $(".js-modify").click(function() {
        var id = $("#pop_action").attr('name');
        $("#update_form_field").empty();
        $.getJSON('/task/get/'+id, function(res) {
            $( "#update_form_field_template" ).tmpl( res.row ).appendTo( "#update_form_field" );
            $.fancybox({
                content: $("#update_form"),
				autoSize: false,
                width: '30%',
                height: '550px',
				//type: 'iframe',
                afterClose: function() {
                    //$("#list"+id).effect("highlight", {}, 3000);
                    $("#update_save_button").unbind('click');
                }
            });

            $("#update_save_button").click(function() {
                var task_id = $("#pop_action").attr('name');
                var form = $('#update_form')
                $.ajax({
                    type: "POST",
                    data: form.serialize(),
                    url: "/task/update/"+task_id,
                    dataType: "json",
                    success: function(data) {
                        $(".pop-over").hide();
                        $.fancybox.close();
                        $("#title"+task_id).text(data.title)
                        $("#list"+task_id).effect("highlight", {}, 3000);
                    }
                }); 
            });
        });
    });

    $(".js-delete").click(function() {
        if(confirm('确定要删除这条记录'))  
        {
            var id = $("#pop_action").attr('name');
            if(id) {
                $.getJSON('/task/delete/'+id, function(res) {
                    $("#list"+res.id).remove();
                    $(".pop-over").hide();
                });
            }
        }
    });

    $(".js-status-complete").click(function() {
        var task_id = $("#pop_action").attr('name');
        if(task_id) {
            $.ajax({
                type: "POST",
                data: {'status': '1'},
                url: "/task/update/"+task_id,
                dataType: "json",
                success: function(data) {
                    if(data.error) return false;
                    $("#title"+task_id).wrap("<del/>")
                        $("#list"+task_id).effect("highlight", {}, 3000);
                        $("#list"+task_id+" a").attr('status', 1);
                        $(".pop-over").hide();
                    }
                }); 
            }
        });
        $(".js-status-undone").click(function() {
            var task_id = $("#pop_action").attr('name');
            if(task_id) {
                $.ajax({
                    type: "POST",
                    data: {'status': '0'},
                    url: "/task/update/"+task_id,
                    dataType: "json",
                    success: function(data) {
                        if(data.error) return false;
                        $('#title'+task_id).unwrap(); 
                        $("#list"+task_id).effect("highlight", {}, 3000);
                        $("#list"+task_id+" a").attr('status', 0);
                        $(".pop-over").hide();
                    }
                }); 
            }
        });

        //文本输入框控制
        $("#title").focus(function() {
            //onfocus="if (value =='请写点什么'){value =''}" onblur="if (value ==''){value='请写点什么'}"   
            if(this.value=='写点你将要做点什么吧') 
            {
                this.value = ''; 
            }
            $('#to_people').show();
        }).blur(function() {
            if(this.value=='') 
            {
                this.value = '写点你将要做点什么吧';  
                //$('#to_people').hide();
            }

        });

      
    </script>
    {% endblock %}
