{% extends "layout_board.html" %}
{% block content %}
{% for key in task_data recursive %}
<!--第二块-->
<div class="list active-list" id="list{{ key }}">
    <div class="list-header">
        
        <div class="list-title non-empty clearfix editable" attr="name">
        	<!--<span class="app-icon small-icon list-icon"></span>-->
            <h2 class="hide-on-edit current "> {{ user_data[key] }}</h2>
        </div>
    </div>
    <div class="list-card-area">
        <div class="list-gradient-top"></div>
        <div class="list-gradient-bottom"></div>
        <div class="list-cards fancy-scrollbar clearfix js-sortable ui-sortable" >
            {% for data in task_data[key] %}
            <div class="list-card clearfix ui-droppable {% if data.status %} complete {% else %} undone {% endif %}" id="list{{ data.id }}">
                
                <a class="list-card-title" href="javascript:;" name="{{data.id}}">
                	<span class="card-message-news"></span>
                    <span class="card-short-id hide">#{{ data.id }} </span>
                    {{ data.title }}
                    <ul class="LCT_Prompt">
                        <li>{{ data.created_at|datetimeformat }}</li>
                        {% if data.comment_count %}
                            <li>回复({{ data.comment_count }})</li>
                        {% endif %}
                        
                    </ul>
                    <div class="clear"></div>
                </a>
                <!--<div class="badges"></div>
                <div class="list-card-members"></div>
                <span class="js-replay card-operation app-icon dark-hover small-icon menu-icon js-card-menu" name="{{ data.id }}"></span>-->
                <div class="clear"></div>
                
                <ul class="list_card_operate" style="display:block;">
                    <li id="status{{ data.id }}" name="{{ data.id }}" status="{{ data.status }}" {% if data.status %} class="LC_status"  title="完成" {% else %} class="LC_status current" title="未完成"  {% endif %}></li>
                    {% if not data.ismine %} <li>{{ g.user.realname }}安排给我</li> {% endif %}
                </ul>
                <div class="clear"></div>
                <div id="operation{{data.id}}" name="{{data.id}}" style="display:none;">
                    <ul class="list_card_replies" id="comment_list_{{data.id}}" style="display:block;">
                    </ul>

                    <div class="message_box" style="display:block;">
                        <form id="comment_form_{{data.id}}" name="comment_form">
                            <textarea name="comment_content" id="comment_content_{{data.id}}" cols="" rows="" ></textarea>
                            <input type="button" value="回复" class="Submit" id="submit_{{data.id}}"/>
                            <input type="button" value="取消" class="cancel" id="cancel_{{data.id}}"/>
                        </form>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--添加消息块-->
        <!--
        <div class="card-composer">
            <div class="list-card js-composer" style="padding-bottom: 0px;">
                <div class="card-labels clearfix"></div>
                <textarea class="js-card-title"></textarea>
                <div class="list-card-members"></div>
            </div>
            <div class="cc-controls clearfix">
                <input class="primary confirm js-add-card" type="submit" value="Add">
                <a class="app-icon close-icon dark-hover cancel js-cancel" href="#"></a>
                <a class="cc-opt app-icon dark-hover menu-icon js-cc-menu" href="#"></a>
            </div>
        </div>
        -->
        <!--添加消息块 end-->

    </div>
    <!-- <a class="open-card-composer js-open-card-composer" href="#">Add a card...</a>-->
</div>
<!--第二块 end-->
{% endfor %}

<!--回复的模板-->
    <script id="comment_template_list" type="text/x-jquery-tmpl">
    <li>
        <div>${realname}：${content}</div>
        <p>${created_at}</p>
    </li>
    </script>
<!--回复的模板 end-->
    
<!--回复的html start-->
    <div id="comment" style="display:none;">
        <div id="comment_list"> </div>
        <form id="comment_form" name="comment_form">
            <input type="text" name="comment_content" id="comment_content" /> 
            <input type="button" value="回复" id="comment_save_button"/>
        </form>
    </div>
<!--回复的html end-->

<script>

    
    $(".list-card-title").toggle(function(){
        var id = $(this).attr('name');
        if(id) {
            var operation = $("#operation"+id);
            $.getJSON('/comment/get/'+id, function(res) {
                $("#comment_list_"+id).empty();
                $( "#comment_template_list" ).tmpl( res.data ).appendTo( "#comment_list_"+id );
            });
            operation.show();
            $("#comment_content_"+id).focus();
            $("#submit_"+id).click(function() {
                var task_id = id;
                var comment_content = $("#comment_content_"+task_id).val();
                if(comment_content) {
                    var form = $('#comment_form_'+task_id)
                    $.ajax({
                        type: "POST",
                        data: form.serialize(),
                        url: "/comment/create/"+task_id,
                        dataType: "json",
                        success: function(data) {
                            $( "#comment_template_list" ).tmpl( data ).appendTo( "#comment_list_"+task_id );
                            form.each(function(){ this.reset(); });
                        }
                    }); 
                }
            });
            $("#cancel_"+id).click(function() {
                operation.hide();
            });
        }
		$(this).parent().addClass("active-card-current");
		$(".list-card").not($(this).parent()).removeClass("active-card-current");

    },function(){
        var id = $(this).attr('name');
        var operation = $("#operation"+id);
        operation.hide();
		$(this).parent().addClass("active-card-current");
        $(".list-card").not($(this).parent()).removeClass("active-card-current");
    });
    /*
	$("ul.list_card_operate li.LC_status").toggle(function(){
		$(this).addClass("current");
		$(this).attr("title","完成");
        var status = $(this).attr('status');
        var id = $(this).attr('name');
        res = setStatus(status,id);
        if(res) $(this).attr('status', res)
	},function(){
		$(this).removeClass("current");
		$(this).attr("title","未完成");
        var status = $(this).attr('status');
        var id = $(this).attr('name');
        res = setStatus(status,id);
        if(res) $(this).attr('status', res)
	});	
    */
    $("ul.list_card_operate li").click(function() {
        var status = $(this).attr('status');
        var id = $(this).attr('name');
        var status_obj = $('#status'+id);
        //设置成完成
        if(status==0) {
            $.ajax({
                type: "POST",
                data: {'status': 1},
                url: "/task/update/"+id,
                dataType: "json",
                success: function(data) { 
                    status_obj.attr('title','完成')
                    status_obj.removeClass('current');
					status_obj.parent().parent().addClass('complete');
					status_obj.parent().parent().removeClass('undone');
                    status_obj.attr('status', 1);
                } 
            });       
        }
        if(status==1) {
            $.ajax({
                type: "POST",
                data: {'status': 0},
                url: "/task/update/"+id,
                dataType: "json",
                success: function(data) { 
                    status_obj.attr('title','未完成')
                    status_obj.addClass('current');
					status_obj.parent().parent().addClass('undone');
					status_obj.parent().parent().removeClass('complete');
                    status_obj.attr('status', 0);
                } 
            }); 
        }
    });
    
    function setStatus(status,task_id) {
        if(status == 1)  new_status = 0;
        if(status == 0)  new_status = 1;
        $.ajax({
            type: "POST",
            data: {'status': new_status},
            url: "/task/update/"+task_id,
            dataType: "json",
            success: function(data) { 
            } 
        }); 
        return new_status;
    }
</script>


{% endblock %}

{% block sidebar %}
<div class="master-board-widget-menu">
    <span class="app-icon small-icon dark-hover menu-icon js-show-all-widgets" ></span>
</div>
<!--人员列表-->
<div class="board-widget board-widget-actions bottom clearfix">
    <div class="board-widget-title">
        <h3 class="inline-block">递交给我的同事</h3>
        <!--
        <a class="quiet js-view-all-activity-header" href="#" style="margin-left: 3px;display:none;"  id="share_save_success">保存成功</a>
        <span class="app-icon small-icon dark-hover menu-icon board-widget-menu-btn js-board-widget-vis"></span>
        -->
    </div>
    <div class="board-widget-content">
        <div class="activity-gradient-t"></div>
        <div class="activity-gradient-b"></div>
        <div class="board-actions-list fancy-scrollbar" >
            <div class="js-sidebar-list-actions">
                <form method="POST" name="share_users_form" id="share_users_form">
                    <p>
                    <!--
                    <a class="button-link js-open-manage-board-members" href="javascript:;" id="share_users_save_button"> <span class="app-icon small-icon member-icon"></span> 保存</a>
                    -->
                    </p>
                    <!--循环体-->
                    {% for user in user_rows %}
                    <div class="phenom clearfix">
                        <div class="member js-show-mem-menu">
                            {% if user.avatar %} 
                                <img class="member-initials" title="{{ user.realname }}" src="{{ url_for('static', filename='uploads/small/'+user.avatar) }}"/> 
                            {% else %}
                                <span class="member-initials" title="{{ user.realname }}"> </span>
                            {% endif %}
                        </div>
                        <div class="phenom-desc">
                            <a class="inline-object js-show-mem-menu" href="#list{{ user.id }}">{{ user.realname }}</a>
                            {% if g.task_share_user[user.id] %} 
                            <a class="header-btn header-about" title="Information" href="#"> 
                                <span class="count js-unread-announcements" style="">{{ g.task_share_user[user.id] }}</span> 
                            </a>
                            {% endif %}
                        </div>
                        <!--
                        <p class="phenom-meta quiet">
                        <span class="date" dt="2012-06-04T06:53:49.298Z" title="2012年6月4日 14:53:21">19 hours ago</span>
                        </p>
                        -->
                        <div class="clear"></div>
                    </div>
                    {% endfor %}
                    <!--循环体 end-->
                </form>

            </div>
            <!--
            <a class="show-more js-view-all-activity-list" href="#"> View all… </a>
            <a class="js-allow-notifications quiet" style="padding: 0pt 0pt 0pt 40px; font-weight: bold; display: none;" href="#"> Allow Notifications </a>
            -->
        </div>
    </div>

</div>
<!--人员列表 end-->

{% endblock %}


